body {
    background: black;
    overflow: hidden;
    color: white;
}

img::selection, p::selection, span::selection {
    background-color: transparent;
}

.foolim {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foolim img {
    width: 30%;
    margin-top: 25px;
}

.foolpause {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foolpause img {
    width: 22.5%;
    margin-top: 120.5px;
}

.click1 {
    width: 200px;
    height: 250px;
    position: absolute;
    top: 45%;
    left: 42.5%;
}

.click2 {
    width: 30px;
    height: 50px;
    position: absolute;
    top: 25%;
    right: 48.5%;
}

.click3 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 35%;
    right: 49%;
}

.click1:hover, .click2:hover, .click3:hover {
    cursor: pointer;
    opacity: 60%;
    background-color: black;
    filter: blur(20px);
    border-radius: 100%;

}

.text-container {
    color: white;font-family: "Newsreader", serif;
    font-optical-sizing: auto;;
    font-style: normal;
    font-size: 20px;
    z-index: 5;
    position: fixed;
    top: 0;
    padding: 25px;
}

.hidden {
    display: none;
}

button {
    background-color: transparent;
    border: none;
    font-family: "Newsreader", serif;
    font-style: normal;
    color: white;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    font-style: italic;
}

a {
    position:absolute;
    bottom: 0;
    left: 46.5%;
    padding: 20px;
}

p {
    color: white;font-family: "Newsreader", serif;
    font-optical-sizing: auto;;
    font-style: normal;
    font-size: 23px;
}

span {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

#content1 img {
    position: absolute;
    top: 20px;
    left: 15%;
    width: 10%;
}

#content1 p {
    width: 32%;
    position: absolute;
    top: 30%;
    left: 4%;
    font-size: 20px;
}

#content2 img {
    width: 9%;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 25%;
}

#content2 p {
    width: 20%;
    position: absolute;
    top: 10%;
    right: 2%;
}

#content3 span {
    font-size: 140px;
    position: absolute;
    top: 78%;
    left: 10px;
    color: white;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
}

#content3 img {
    width: 10%;
    position: absolute;
    bottom: 5%;
    left: 30%;
}

#content3 p {
    width: 25%;
    position: absolute;
    bottom: 4%;
    right: 10%;
}
