#oldman {
    width: 20%;
    position: absolute;
    right: 0;
    padding-right: 50px;
    padding-top: 20px;
  }
  
  #narration {
    color: black;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;;
    font-style: normal;
    font-size: 20px;
  }
  
  .text-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    padding-left: 90px;
  }
  
  #continue-btn {
    border: none;
    background-color: transparent; font-family: "Newsreader", serif;
    font-optical-sizing: auto;;
    font-style: normal;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 300px;
    margin: 20px;
    padding-bottom: 30px;
  }
  
#skip button {
    background-color: transparent;
    border: none;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
  }

  #skip button:hover {
    cursor: pointer;
    font-style: italic;
  }